body{
    background-color: #fff;
}
figure{
    text-align: center;
}
#intro{
    color: #444;
    justify-content: flex-start;
}
#intro h1{
    color: #c61118;
}
#intro .lead{
  background-color: #fff7f7;
  padding: 2em;
  border-radius: 25px;
}
#intro .actions .button{
    color: #444 !important;
}
#intro .actions .button:hover{
    color: #fff !important; 
    box-shadow: inset 0 0 0 2px #444 !important;

}
#intro .button.primary {
    color: #fff !important;
}

#copyright a{
    color: #444 !important;
}
#copyright a:hover{
    color: #c61118 !important;
}
input[type="button"], button, .button {
    background-color: #fff !important;
}
input[type="button"]:hover, button:hover, .button:hover {
    background-color: #c61118 !important;
}

a{
  color: #e60023;
  border-bottom: 0px;
}

.attributions .logo{
    max-height: 70px;
    max-width: 200px;
    vertical-align: middle;
}

input[type="submit"].primary, 
input[type="reset"].primary, 
input[type="button"].primary, 
button.primary, 
.button.primary {
    background-color: #c61118 !important;
    box-shadow: none;
    color: #ffffff !important;
}
input[type="submit"].primary:hover, 
input[type="reset"].primary:hover, 
input[type="button"].primary:hover, 
button.primary:hover, 
.button.primary:hover {
    box-shadow: inset 0 0 0 2px #333 !important;   
}

#header .logo{
    color: #c61118 !important;
    border-color: #c61118 !important;
}

#introduction header p{
    text-align: center !important; 
}

#introduction header {
    border-bottom: 3px solid #e60023;
    margin-bottom: 2em;
}

#introduction p.subtext{
    font-size: 0.6em !important;
    text-align: center;
}

#introduction .profileImage img{
    border-radius: 50%;
}

#testimonials{
    background-color: #fff7f7;
    color: #444;
    font-style: italic;
    font-size: 1.3em;
    text-align: center;
    padding: 4rem;
}

#testimonials p{
    text-align: center;
    padding-top: 40px;
}


#testimonials img{
    height: 100px;
}

#products div{
    text-align: center;
}

#products div img{
    width: 50%;
}

.freeProduct{
    background-color: #fff7f7;
    font-size: 1.3em;
    text-align: center;
    padding: 4rem;
}

.modal-header{
  padding: 2rem !important;
  padding-left: 4rem !important;
  background-color: #fff7f7 !important;
  text-align: center !important;
}





.freeProduct div{
    padding: 0;
    margin: 0;
}

.freeProduct #getlist_button{
    background-color: #c61118 !important;
    color: #fff !important;
    border: 0px !important;
    box-shadow: inset 0 0 0 0px #212931;
}
.freeProduct p{
    text-align: center;
    font-size: 0.6em;
}

.freeProduct img{
    height: 300px;
    vertical-align: middle;
}

#signupModal div.modal-body{
    margin: 0;
    background-color: #fff7f7;
    font-size: 1.3em;
    text-align: center;
    padding: 2rem 4rem 4rem 4rem;
}

#signupModal p{
  text-align: left;
  font-size: 0.6em;
}

#signupModal .signupFields {
  background-color: #fff;
}

#signupModal .leadgen img{
    height: 300px;
    vertical-align: middle;
}


#signupModal button.close{
  box-shadow: none !important;
  background-color: #fff7f7 !important;
  font-size: 2em;
}
#signupModal button.close:hover{
  box-shadow: none !important;
  background-color: #fff7f7 !important;
  color: #000 !important;
}


.salesPitchList, .salesPitchList li{
    text-align: left !important;
    font-size: 0.7em;
}



#signup div{
    text-align: center;
}
#signup p{
    text-align: center;
    font-size: 0.7em;
}
#banner{
    background-color: #4259D2;
    color: #fff;
    border-radius: 20px;
    margin: 0px 0px 50px 0px;
    font-family: "Merriweather";
    text-align: center;
}

div.signupBox{
    border-radius: 25px;
    border: 2px solid #e60023;
    padding: 20px; 
    background-color: #fff7f7;
}


.btn-pin{
    background-color: #c61118 !important;
    color: #fff !important;
    border: 0px !important;
    box-shadow: inset 0 0 0 0px #212931;
}

.btn-pin:hover{
    color: #fff !important;
    box-shadow: inset 0 0 0 2px #333 !important;
}

/* Tooltip container */
.tooltip-inner {
  text-align: left;
  padding: 20px 20px;
}


#boardPins img{
    width: 100px;
    display: block;
}


/* Gauge Styles */
.activity_score{
    text-align: center;
    font-size: 1.5em;
    float: left;
}

.activity_buttons{
    text-align: center;
}

#currentLevel{
    text-align: center;
}

.badges {
    text-align: center;
}

.badges img{
     border-radius: 50%;
}

.tooltip{
    z-index:100000000;
}

.invalid-feedback{
    display: block !important;
}

.avatar {
    text-align: middle;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.carousel-buttons{
    text-align: center;
    padding-bottom: 20px;
}

.carousel-buttons button{
    margin: 1px;
}

.carousel-buttons button.active{
    background-color: #c61118 !important;
    color: #fff !important;
}

#carousel p{
    text-align: left !important;
}


button:hover,
.button:hover,
.button:hover a.button:hover {
    box-shadow: inset 0 0 0 2px #fff;
    background-color: : #deb150 !important;
    color: #fff !important;
}

button:focus{
    outline: none !important;
}

#nav button:hover,
#nav .button:hover {
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff !important;
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
    box-shadow: inset 0 0 0 2px #c61118;
    background-color: #c61118 !important;
    color: #fff !important;
}

.posts h2 a:hover{
    color: #deb150 !important;
}

.salesbtn {
    text-align: center !important;
}


#nav ul.links li.active a:hover {
    color: #c61118 !important;
}

#header .logo:hover {
    border-color: #fff !important;
    color: #fff !important;
    text-decoration:  none !important;
}

a:hover{
    color: #4259D2 !important;
    text-decoration:  none !important;
}

#loading .icon{
    text-align: center;
}

#boardRows td.loading{
    text-align: center;
}

#boardRows td.loading img{
    height: 2rem;
    vertical-align: top;
}
.incomereport th{
  padding: 2em 1em;
}
.incomereport tr.months th{
  padding: 1em;
  text-align: right;
}
.incomereport td{
  text-align: right;
}

.incomereport .currentmonth{
  color: #e60023;
}


section.grabber {
  background: #c61118;
}

#recommendations .card,
#boardResults .card,
.pricing .card, 
.features .card,
.grabber .card, 
#products .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
}

#analytics .card-group
{
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
  padding: 0px;
}
#analytics .card
{
  border: none;
  padding: 0px;
  margin-bottom: 0px !important;
}
#analytics .card-body
{
  text-align: center;
  font-size: 2em;
}

#analytics .card-footer
{
  text-align: center;
}

.good{
  color: green;
}

.bad{
  color: red;
}

#pages td div{
  display: inline;
  padding-right: 1em;
}

#analytics .card-body .delta{
  font-size: 0.5em;
}

.card-header:first-child{
  border-radius: 1rem 1rem 0 0;
}

.card hr {
  margin: 1.5rem 0;
}

.card .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.card .card-price {
  font-size: 3rem;
  margin: 0;
}

.card .card-price .period {
  font-size: 0.8rem;
}

.card ul li {
    font-size: 0.8em;
}

.card .text-muted {
  opacity: 0.7;
}

.card .button {
  text-align: center;
  width: 100%;
}

#missionHeader{
  text-align: center;
}

ul.metric_values_list{
  list-style: none;
}
ul.metric_values_list li{
  font-style: italic;
  font-size: 0.8em;
}
#recommendations p{
  margin: 0;
}

#recommendations a{
  color: #000;
}

#recommendations a:hover{
  color: #e60023 !important;
}

#recommendations ul.scrollable{
  max-height: 25em;
  overflow:hidden; 
  overflow-y:scroll;
}
#recommendations ul.issues-list{
  list-style: none;
}
#recommendations ul.issues-list li{
  font-style: italic;
  font-size: 0.8em;
}

.carousel-buttons button{
  border-radius: 5px;
}
/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover,
  .features .card:hover,
  .grabber .card:hover{
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}

#boardResults .card-header{
  white-space: nowrap;
  overflow: hidden;
}

#boardResults .populating img{
  height: 2em;
  vertical-align: top;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  height: 16em;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, 
.flip-card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #fff;
  position: absolute;

  -webkit-backface-visibility: hidden;
         backface-visibility: hidden;
 -webkit-transition: 0.6s;
         transition: 0.6s;
 -webkit-transform-style: preserve-3d;
         transform-style: preserve-3d;
 
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  z-index: 2;
 -webkit-transform: rotateY(0deg);
         transform: rotateY(0deg);
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
  text-align: left !important;
  -webkit-transform: rotateY(-180deg);
         transform: rotateY(-180deg);
}
